/*
 * Empty Stylesheet file.
 */

#controlsPane {
  -fx-orientation: horizontal;
  -fx-hgap: 12pt;
  -fx-padding: 3pt;
}

#controlsPane HBox {
    -fx-spacing: 4pt;
    -fx-alignment: CENTER;
}


VBox.imgPane {
  -fx-alignment: center;
  -fx-background-color: white;
}
ScrollPane {
    -fx-pannable: true;
}

.imgTop {
    -fx-label-padding: 5pt 0 5pt 0;
    -fx-font-size: 16pt;
    -fx-font-family: sans-serif;
    -fx-text-fill: black;
}

.mainFxmlClass {

}
